---
title: 'Manipulation de couches vectorielles'
author: "Victor PÉNOT"
weight : 2
pre: "<b>TP 2. </b>"
output:
  bookdown::html_document2:
    toc: yes
    toc_float:
      collapsed: yes
      smooth_scroll: yes
    theme: cerulean #united
    highlight: tango
  bookdown::pdf_book:
    toc: yes
  
---



<div id="chargement-dune-couche-vectorielle-dans-le-projet-courant" class="section level1">
<h1>Chargement d’une couche vectorielle dans le projet courant</h1>
<p>Démarrons en précisant le chemin vers le dossier de travail.</p>
<pre class="python"><code># defintion du repertoire de travail
work_path=&#39;/Users/victorpenot/Desktop/LPTIC_Carcassone/COURS/TP2/RES&#39;
# creation du repertoire de travail, s&#39;il n&#39;existe pas déjà
import os 
os.makedirs(work_path, exist_ok=True)
# affection du repertoire de travail de la session
os.chdir(work_path)</code></pre>
<p>Puis créons une nouvelle variable stockant le chemin relatif vers les jeux de données SIG</p>
<pre class="python"><code># chemin vers les donnees
data_path=&quot;../../DATA&quot;</code></pre>
<div class="homework">
<p>Grâce à la fonction <a href="https://www.tutorialspoint.com/python/os_listdir.htm">listdir()</a> écrire une boucle enumérant les fichiers et dossiers du dossier <em>data_path</em></p>
</div>
<details>
<p><summary><strong>SOLUTION</strong></summary></p>
<pre class="python"><code>for file in os.listdir(data_path):
    print(file)</code></pre>
</details>
<p>Nous allons charger une couche au format <em>shapefile</em> d’ESRI. D’<a href="https://qgis.org/pyqgis/3.4/core/QgsVectorLayer.html?highlight=qgsvectorlayer#">autres formats</a>, classiquement pris en charge par Qgis sont aussi utilisables.
Commençons par créer une variable qui stocke le nom du chemin du fichier, grâce à l’utilisation de la fonction <a href="https://docs.python.org/3/library/os.path.html#os.path.join"><code>.join()</code></a> du module <code>os.path</code>.</p>
<pre class="python"><code>import os.path
regions_path=os.path.join(data_path,&quot;REGIONS&quot;,&quot;regions-20180101.shp&quot;)</code></pre>
<p>Nous pouvons dès lors charger dans le projet courant la couche des régions de France. Créons une instance de la classe <a href="https://qgis.org/pyqgis/3.4/core/QgsVectorLayer.html?highlight=qgsvectorlayer#module-QgsVectorLayer"><code>QgsVectorLayer</code></a>. La syntaxe est la suivante <code>QgsVectorLayer</code>(<em>chemin_vers_fichier</em>,<em>nom_couche</em>,<em>lecteur</em>).</p>
<pre class="python"><code>regions=QgsVectorLayer(regions_path,&quot;regions&quot;,&quot;ogr&quot;)</code></pre>
<div class="infobox">
<p>Il n’est pas toujours nécessaire de préciser le nom de couche, qui par défaut sera le nom du fichier de la couche, ici <code>regions-20180101</code>, ou le lecteur qui par défaut est <code>ogr</code>.</p>
</div>
<div class="homework">
<p>Grace à la méthode <a href="https://docs.qgis.org/3.4/fr/docs/pyqgis_developer_cookbook/loadlayer.html#vector-layers"><code>isValid()</code></a> écrire un test qui affiche un bandeau de message indiquant si la couche a bien été chargée.</p>
</div>
<details>
<p><summary><strong>SOLUTION</strong></summary></p>
<pre class="python"><code>if regions.isValid():
    iface.messageBar().pushMessage(&quot;Information &quot;,
                                    &quot;Couche chargée&quot;,
                                    level=Qgis.Info,
                                    duration=3)
else :
    iface.messageBar().pushMessage(&quot;Error &quot;,
                                    &quot;Couche non chargée&quot;,
                                    level=Qgis.Warning,
                                    duration=3)</code></pre>
<div class="figure" style="text-align: center"><span id="fig:unnamed-chunk-7"></span>
<img src="images_qgis/1.png" alt="Couche chargée" width="80%" />
<p class="caption">
Figure 1: Couche chargée
</p>
</div>
</details>
<p>Si la couche est bien chargée dans Python il ne nous reste plus qu’à la <a href="https://docs.qgis.org/3.4/fr/docs/pyqgis_developer_cookbook/loadlayer.html#qgsproject-instance">charger et l’afficher</a> dans le projet courant, qui pour l’instant n’est pas défini !</p>
<pre class="python"><code># Ajout de la couche au projet pour affichage
QgsProject.instance().addMapLayer(regions)</code></pre>
<div class="figure" style="text-align: center"><span id="fig:unnamed-chunk-9"></span>
<img src="images_qgis/2.png" alt="Couche chargée et affichée dans le projet" width="80%" />
<p class="caption">
Figure 2: Couche chargée et affichée dans le projet
</p>
</div>
<div class="homework">
<p>Grâce à la méthode <code>crs</code> appliquée à la couche précédemment créée, écrire une ligne de commande qui affiche une description du crs de la couche.</p>
</div>
<details>
<p><summary><strong>SOLUTION</strong></summary></p>
<pre class="python"><code># Description du crs de la couche
print(&quot; Description du crs  de la couche chargee : {}&quot;.format(regions.crs().description()))</code></pre>
</details>
</div>
<div id="description-des-atributs-et-des-éléments-dune-couche-vectorielle" class="section level1">
<h1>Description des atributs et des éléments d’une couche vectorielle</h1>
<div id="descritption-des-attributs-dune-couche" class="section level2">
<h2>Descritption des attributs d’une couche</h2>
<p>Une première façon afin d’obtenir une vision globale de la table d’attributs de la couche est de l’ouvrir depuis la console et/ou le programme. Attention, dans le cas où le nombre d’éléments est très important, cela peut s’avérer très long !</p>
<pre class="python"><code># Ouverture de la table attributaire
iface.showAttributeTable(regions)</code></pre>
<p>La méthode recommandée est l’affichage des attributs et de leur description via la méthode <a href="https://qgis.org/pyqgis/3.4/core/QgsVectorLayer.html?highlight=qgsvectorlayer#qgis.core.QgsVectorLayer.fields"><code>fields()</code></a> qui retourne la liste des attributs (champs) de la couche, de la classe <a href="https://qgis.org/pyqgis/3.4/core/QgsFields.html#qgis.core.QgsFields"><code>QgsField</code></a>. Profitons-en pour demander le type des attributs</p>
<pre class="python"><code># Simple affichage des attributs 
for field in regions.fields():
    print(&quot;Nom : {}, Type : {}&quot;.format(field.name(),field.typeName()))</code></pre>
</div>
<div id="descritption-des-éléments-dune-couche" class="section level2">
<h2>Descritption des éléments d’une couche</h2>
<p>Dans l’hypothèse où le nombre d’éléments d’une couche n’est pas important, il peut être intéressant d’en afficher une description succincte mais nécessaire comme leur geométrie, du type <a href="https://qgis.github.io/pyqgis/3.4/core/QgsWkbTypes.html#qgis.core.QgsWkbTypes.GeometryType"><code>QgsGeometry</code></a>. Nous commençons par obtenir un itérateur avec la méthode <a href="https://qgis.org/pyqgis/3.4/core/QgsVectorLayer.html?highlight=qgsvectorlayer#qgis.core.QgsVectorLayer.getFeature"><code>getFeatures()</code></a> de la classe <code>QgsVectorLayer</code>. Nous obtenons ainsi des instances de la classe <a href="https://qgis.org/pyqgis/3.4/core/QgsFeature.html#qgis.core.QgsFeature"><code>QgsFeature</code></a></p>
<pre class="python"><code># Description des elements de la couche 
features = regions.getFeatures()
for feature in features :
    print(&quot;id : {}, geom : {}&quot;.format(feature.id(),
                                QgsWkbTypes.displayString(feature.geometry().wkbType())))</code></pre>
</div>
</div>
<div id="sélection-des-éléments-dune-couche-et-enregistrement-des-entités-sélectionnnées" class="section level1">
<h1>Sélection des éléments d’une couche et enregistrement des entités sélectionnnées</h1>
<div id="sélection-dentités-sur-critères" class="section level2">
<h2>Sélection d’entités sur critères</h2>
<p>Nous désirons obtenir la couche de la région Occitanie. Pour cela nous allons sélectionner les entités de la couche des régions correspondant à ce critère.
L’attribut qui nous intéresse est <code>nom</code> (ce n’est pas le plus évident car il faut faire attention à l’orthographe !).
Commençons par créer une <a href="https://docs.qgis.org/3.4/en/docs/user_manual/working_with_vector/expression.html#vector-expressions">expression</a> qui nous servira de filtre :</p>
<pre class="python"><code>expression=&#39;&quot;nom&quot;=\&#39;Occitanie\&#39;&#39;</code></pre>
<div class="infobox">
<p>Pour plus d’informations sur l’écriture des expressions voir <a href="https://docs.qgis.org/3.16/en/docs/user_manual/working_with_vector/expression.html#writing-an-expression">Écriture des expressions</a> et l’annexe de ce cours dédiée à ce sujet.</p>
</div>
<p>Sélectionnons désormais les entités de la couche regions grâce à cette expression</p>
<pre class="python"><code># selection des entites dans la couches regions
regions.selectByExpression(expression,QgsVectorLayer.SetSelection)</code></pre>
<p>La sélection se colore alors en jaune et nous pouvons zoomer dessus</p>
<pre class="python"><code>iface.mapCanvas().setExtent(regions.boundingBoxOfSelected())
# pour eviter la pixellisation de l affichage, il faut le rafraichir
iface.mapCanvas().refresh()</code></pre>
<div class="figure" style="text-align: center"><span id="fig:unnamed-chunk-17"></span>
<img src="images_qgis/3.png" alt="Entité selectionnée" width="80%" />
<p class="caption">
Figure 3: Entité selectionnée
</p>
</div>
</div>
<div id="enregistrement-des-entités-sélectionnés" class="section level2">
<h2>Enregistrement des entités sélectionnés</h2>
<p>Il ne nous reste plus qu’à enregistrer la sélection dans une couche au format <em>shapefile</em> nommée <code>occitanie</code> dans le dossier de travail.</p>
<p>Il existe deux possibilités. La première utilise un programme fourni par l’extension <code>processing</code>. Elle est simple et suffisante dans la plupart des cas, mais elle ne permet de changer certaines options d’enregistrement.
La deuxième possibilité est plus complexe, mais elle permet de comprendre le fonctionnement de la précédente méthode et elle autorise des choix d’options plus vastes.</p>
<div id="première-méthode" class="section level3">
<h3>Première méthode</h3>
<p>Cette première méthode repose sur l’utilisation d’un programme natif dan Qgis, <a href="https://docs.qgis.org/3.4/en/docs/user_manual/processing_algs/qgis/vectorgeneral.html#extract-selected-features">“qgis:saveselectedfeatures”</a> et disponible au travers de l’extension <a href="https://docs.qgis.org/3.16/en/docs/user_manual/processing/console.html#using-processing-algorithms-from-the-console"><code>processing</code></a>.
On commence par créer le dictionnaire des paramètres du programme. On enregistre la couche dans le répertoire de travail.</p>
<pre class="python"><code># dictionnaire des parametres 
parameters={
&#39;INPUT&#39;:regions, #couche en entree
&#39;OUTPUT&#39;:&quot;occitanie.shp&quot;}#couche en sortie</code></pre>
<p>Puis on execute le porgramme au travers de la méthode suivante</p>
<pre class="python"><code># execution du programme 
processing.run(&quot;qgis:saveselectedfeatures&quot;,parameters)</code></pre>
</div>
<div id="deuxième-méthode" class="section level3">
<h3>Deuxième méthode</h3>
<p>Commençons par créer une instance de classe <code>QgsVectorFileWriter</code> qui nous permettra de sélectionner les options d’enregistrement.</p>
<pre class="python"><code># Creation des options d enregistrement
options = QgsVectorFileWriter.SaveVectorOptions()</code></pre>
<p>Puis nous lui affectons des options nous permettant de choisir l’enregistrement des entités sélectionnée et le format de sortie.</p>
<pre class="python"><code># Enregistrement uniquement des entites selectionnees
options.onlySelectedFeatures=True
# Format de la couche 
options.driverName=&quot;ESRI shapefile&quot;
# Encodage
options.fileEncoding=&quot;UTF-8&quot;</code></pre>
<p>Enfin enregistrons la couche dans le dossier de travail courant</p>
<pre class="python"><code># Enregistrement de la couche
QgsVectorFileWriter.writeAsVectorFormat(regions,&quot;occitanie_bis.shp&quot;, options)</code></pre>
</div>
</div>
<div id="chargement-de-la-couche-enregistree" class="section level2">
<h2>Chargement de la couche enregistree</h2>
<p>Nous pouvons dès lors charger la couche dans le projet courant</p>
<pre class="python"><code>occitanie=QgsVectorLayer(&quot;occitanie.shp&quot;, &quot;occitanie&quot;, &quot;ogr&quot;)
# Ajout de la couche dans l affichage
if occitanie.isValid():
    iface.messageBar().pushMessage(&quot;Information &quot;,
                                    &quot;Couche chargée&quot;,
                                    level=Qgis.Info,
                                    duration=3)
    QgsProject.instance().addMapLayer(occitanie)
else :
    iface.messageBar().pushMessage(&quot;Error &quot;,
                                    &quot;Couche non chargée&quot;,
                                    level=Qgis.Warning,
                                    duration=3)</code></pre>
</div>
</div>
<div id="suppression-dune-couche-du-projet-courant" class="section level1">
<h1>Suppression d’une couche du projet courant</h1>
<p>Nous désirons ne garder que la couche <code>occitanie</code> dans le projet. Il nous faut supprimer du projet la couche <code>region</code>.
Commençons par connaître son <code>id</code> dans le projet courant :</p>
<pre class="python"><code>id_regions=regions.id()</code></pre>
<p>Puis, utilisons cet <code>id</code> pour supprimer la couche du projet grâce à la méthode <a href="https://qgis.org/pyqgis/3.4/core/QgsProject.html?highlight=qgsproject#qgis.core.QgsProject.removeMapLayer"><code>removeLayer()</code></a></p>
<pre class="python"><code># Suppression de la couche regions
QgsProject.instance().removeMapLayer(id_regions)
# Mise à jour de l&#39;affichage
iface.mapCanvas().refresh()</code></pre>
</div>
<div id="exercice-de-synthèse" class="section level1">
<h1>Exercice de synthèse</h1>
<div class="homework">
<p>Créer la couche des communes de l’Aude à partir de la couche des communes de France. On enregistrera la couche dans le fichier “communes_11.shp”, au format shapefile dans le dossier de travail, et elle apparaitra dans l’arborescence des couches sous le nom “communes_aude”.
La sélection pourra s’effectuer sur le champ du code insee de la communne, en sélectionnant les deux premiers chiffres égaux à 11 grâce à la fonction <code>left</code>, disponible dans la calculatrice de champs de Qgis.</p>
</div>
<details>
<p><summary><strong>SOLUTION</strong></summary></p>
<pre class="python"><code># Chargement de la couche des communes de France 
communes=QgsVectorLayer(os.path.join(data_path,&quot;COMMUNES&quot;,&quot;communes-20200101.shp&quot;),&quot;communes&quot;,&quot;ogr&quot;)
# Affichage de la couche si valide
if communes.isValid():
    iface.messageBar().pushMessage(&quot;Information &quot;,
                                    &quot;Couche chargée&quot;,
                                    level=Qgis.Info,
                                    duration=3)
    # chargement dans le projet courant et affichage
    QgsProject.instance().addMapLayer(communes)
else :
    iface.messageBar().pushMessage(&quot;Error &quot;,
                                    &quot;Couche non chargée&quot;,
                                    level=Qgis.Warning,
                                    duration=3)
# Affichage des attributs 
for field in communes.fields():
    print(&quot;Nom : {}, Type : {}&quot;.format(field.name(),field.typeName()))

# Expression de selection
expression=&#39;left(&quot;insee&quot; ,2)=\&#39;11\&#39;&#39;
# selection des entites dans la couches regions
communes.selectByExpression(expression,QgsVectorLayer.SetSelection)
# et zoomons sur la selection
iface.mapCanvas().setExtent(communes.boundingBoxOfSelected())
iface.mapCanvas().refresh()


# Enregistrement d une couche : première possibilie
# Creation des options d enregistrement
options = QgsVectorFileWriter.SaveVectorOptions()
# Enregistrement uniquement des entites selectionnees
options.onlySelectedFeatures=True
# Format de la couche 
options.driverName=&quot;ESRI shapefile&quot;
# Encodage
options.fileEncoding=&quot;UTF-8&quot;
# Nom de la couche
name=&#39;communes_aude&#39;
# Enregistrement de la couche
# Enregistrement de la couche
QgsVectorFileWriter.writeAsVectorFormat(communes,os.path.join(&quot;../RES&quot;,name+&#39;.shp&#39;), options)

# Enregistrement d une couche deuxieme possibbilite
# https://docs.qgis.org/3.4/en/docs/user_manual/processing_algs/qgis/vectorgeneral.html#extract-selected-features
# dictionnaire des parametres 
parameters={
&#39;INPUT&#39;:communes,
&#39;OUTPUT&#39;:&quot;../RES/communes_aude.shp&quot;}
# execution du programme 
processing.run(&quot;qgis:saveselectedfeatures&quot;,parameters)


# Chargement de la couche
communes_aude=QgsVectorLayer(&quot;../RES/communes_aude.shp&quot;, &quot;communes_aude&quot;, &quot;ogr&quot;)

if communes_aude.isValid():
    iface.messageBar().pushMessage(&quot;Information &quot;,
                                    &quot;Couche chargée&quot;,
                                    level=Qgis.Info,
                                    duration=3)
    QgsProject.instance().addMapLayer(communes_aude)
else :
    iface.messageBar().pushMessage(&quot;Error &quot;,
                                    &quot;Couche non chargée&quot;,
                                    level=Qgis.Warning,
                                    duration=3)

# Suppression de la couche communes
QgsProject.instance().removeMapLayer(communes.id())
# Mise à jour de l&#39;affichage
iface.mapCanvas().refresh()</code></pre>
</details>
</div>
<div id="ajout-dun-attribut-à-une-couche-calcul-des-surfaces-des-communes-de-laude" class="section level1">
<h1>Ajout d’un attribut à une couche : calcul des surfaces des communes de l’Aude</h1>
<div id="reprojection-dune-couche" class="section level2">
<h2>Reprojection d’une couche</h2>
<p>Nous désirons connaître les surfaces des couches des communes de l’Aude. Commençons par nous questionner sur le crs de la couche : est-il adapté au calcul de surfaces en <span class="math inline">\(m^2\)</span> ou en <span class="math inline">\(ha\)</span> ?
Utilisons pour cela ma méthoide <a href="https://qgis.org/pyqgis/master/core/QgsCoordinateReferenceSystem.html#qgis.core.QgsCoordinateReferenceSystem.mapUnits"><code>mapUnits()</code></a></p>
<pre class="python"><code>communes_aude.crs().mapUnits()</code></pre>
<div class="infobox">
<p>Afin d’interpréter le résultat il est préférable de connaître la traduction en terme d’unité de ce résultat de la classe <a href="https://qgis.org/pyqgis/master/core/QgsUnitTypes.html#qgis.core.QgsUnitTypes.DistanceUnit">QgsUnitTypes.DistanceUnit</a></p>
</div>
<p>Puisque l’unité n’est pas le <span class="math inline">\(m\)</span>, nous devons reprojeter la couche dans un crs métrique, le <a href="https://epsg.io/32631">WGS 84 / UTM zone 31N</a> de code <code>EPSG= 32631</code>.
Créons le crs de destination</p>
<pre class="python"><code># crs de destination
crsDest=QgsCoordinateReferenceSystem(32631) </code></pre>
<p>Puis utilisons le programme <a href="https://docs.qgis.org/3.4/en/docs/user_manual/processing_algs/qgis/vectorgeneral.html#reproject-layer"><code>Reproject Layer</code></a> de l’extension <a href="https://docs.qgis.org/3.16/en/docs/user_manual/processing/console.html#using-processing-algorithms-from-the-console"><code>processing</code></a> afin de créer une couche temporaire <code>communes_aude_UTM31</code>. Pour la création des couches temporaires voir l’annexe dédiée à ce sujet. En sortie la fonction <code>processing.run</code> nous obtenons un dictionnaire, et nous affectons la valeur de la clé <code>OUTPUT</code> à la variable <code>communes_aude_UTM31</code>. Dans le cas de couche temporaire, cette valeur pointe directement vers une instance de la classe <code>QgsVectorLayer</code>.</p>
<pre class="python"><code># dictionnaire des parametres du programme de reprojection
parameters={
&#39;INPUT&#39;:communes_aude, # couche en entree
&#39;TARGET_CRS&#39;:crsDest, # crs de destination
&#39;OUTPUT&#39;:&#39;memory:communes_aude_UTM31&#39;} # couche en sortie 
# lancement du programme
communes_aude_UTM31=processing.run(&quot;qgis:reprojectlayer&quot;, parameters)[&#39;OUTPUT&#39;]
# affiche de la couche si valide 
if communes_aude_UTM31.isValid()==True:
    iface.messageBar().pushMessage(&quot;Information &quot;,
                                    &quot;Reprojection done&quot;,
                                    level=Qgis.Info,
                                    duration=5)
    QgsProject.instance().addMapLayer(communes_aude_UTM31)
else :
    iface.messageBar().pushMessage(&quot;Error &quot;,
                                    &quot;Reprojection failed&quot;,
                                    level=Qgis.Warning,
                                    duration=5)</code></pre>
</div>
<div id="creation-dun-champ-dans-une-couche" class="section level2">
<h2>Creation d’un champ dans une couche</h2>
<p>Créons désormais un champs nommé <code>SURF_M2</code> qui stockera la surface des communes en <span class="math inline">\(m^2\)</span> en utilisant un “tampon d’édition”.</p>
<pre class="python"><code># Utilisation d&#39;un tampon d edition 
# debut de l edition de la couche
communes_aude_UTM31.startEditing()
communes_aude_UTM31.beginEditCommand(&quot;Attribute creation&quot;)
communes_aude_UTM31.addAttribute(QgsField(&quot;SURF_M2&quot;,QVariant.Double))
# fin du tampon
communes_aude_UTM31.endEditCommand()
# prise en compte des modifications
communes_aude_UTM31.commitChanges()</code></pre>
<div class="figure" style="text-align: center"><span id="fig:unnamed-chunk-31"></span>
<img src="images_qgis/4.png" alt="Champs créé" width="80%" />
<p class="caption">
Figure 4: Champs créé
</p>
</div>
<p>Enfin, toujours en utilisant un tampon d’édition complétons le champs <code>SURF_M2</code></p>
<pre class="python"><code># Calcul de la surface pour chaque element remplissage de l&#39;attribut SURF
# Index de l&#39;attribut SURF_M2
index_surf=communes_aude_UTM31.fields().indexFromName(&quot;SURF_M2&quot;)
# debut de l edition de la couche
communes_aude_UTM31.startEditing()
communes_aude_UTM31.beginEditCommand(&quot;Attribute creation&quot;)
# iteration sur les elements pour lesquels on calcule la surface
for feature in communes_aude_UTM31.getFeatures():
    surf=feature.geometry().area()
    communes_aude_UTM31.changeAttributeValue(feature.id(),index_surf,surf)
# fin du tampon
communes_aude_UTM31.endEditCommand()
# prise en compte des modifications
communes_aude_UTM31.commitChanges()</code></pre>
<div class="figure" style="text-align: center"><span id="fig:unnamed-chunk-33"></span>
<img src="images_qgis/5.png" alt="Champs complété" width="80%" />
<p class="caption">
Figure 5: Champs complété
</p>
</div>
<details>
<p><summary><strong>POUR ALLER PLUS LOIN</strong></summary>
On peut afficher une barre de progression lors de la modification de la couche et la calcul des surfaces. Pour plus de renseignements consulter le <a href="https://docs.qgis.org/3.4/en/docs/pyqgis_developer_cookbook/communicating.html#showing-progress">“PyQgis developper Cookbok”</a></p>
<pre class="python"><code># Nombre total d entites
count = communes_aude_UTM31.featureCount()
# iterateur sur les entites
features = communes_aude_UTM31.getFeatures()
# Creation de la barre de progression et affichage
progressMessageBar = iface.messageBar().createMessage(&quot;Calculating area ...&quot;)
progress = QProgressBar()
progress.setMaximum(count)
progress.setAlignment(Qt.AlignLeft|Qt.AlignVCenter)
progressMessageBar.layout().addWidget(progress)
iface.messageBar().pushWidget(progressMessageBar, Qgis.Info)

# on recommence le calcul des champs
index_surf=communes_aude_UTM31.fields().indexFromName(&quot;SURF_M2&quot;)
communes_aude_UTM31.startEditing()
communes_aude_UTM31.beginEditCommand(&quot;Attributes creation&quot;)
for i, feature in enumerate(features):
    surf=feature.geometry().area()
    communes_aude_UTM31.changeAttributeValue(feature.id(),index_surf,surf)
    progress.setValue(i + 1)
##
communes_aude_UTM31.endEditCommand()
communes_aude_UTM31.commitChanges()
# suppression de la barre d&#39;affichage
iface.messageBar().clearWidgets()</code></pre>
</div>
<div id="jointure-par-attribut-de-deux-couches" class="section level2">
<h2>Jointure par attribut de deux couches</h2>
<p>Nous allons désormais joindre la table de la couche <code>communes_aude_UTM31</code> avec celle de la couche <code>communes_aude</code> en utilisant le champs <code>insee</code>.
Utilisons de nouveau l’extension <code>processing</code> et son programme natif <a href="https://docs.qgis.org/3.4/en/docs/user_manual/processing_algs/qgis/vectorgeneral.html#join-attributes-by-field-value"><code>joinattributestable</code></a>.
Désormais, nous allons créer une couche permanente nommée “communes_aude_surfm2” enregistrée au format shapefile dans le répertoire de travail.</p>
<pre class="python"><code>parameters={
&#39;INPUT&#39;:communes_aude,
&#39;FIELD&#39;:&#39;insee&#39;, # champ de jointure couche 1
&#39;INPUT_2&#39;:communes_aude_UTM31,
&#39;FIELD_2&#39;:&#39;insee&#39;, # champ de jointure couche 2
&#39;FIELDS_TO_COPY&#39;:&#39;SURF_M2&#39;,# champ de la 2eme couche a copier dans la la premiere (optionnel)
&#39;OUTPUT&#39;:&#39;communes_aude_surfm2.shp&#39;} # adresse de la couche en sortie permanente
communes_aude_surfm2=processing.run(&#39;qgis:joinattributestable&#39;, parameters)[&#39;OUTPUT&#39;]</code></pre>
<p>Désormais la valeur de la clé <code>OUTPUT</code> n’est pas une instance la classe <code>QgsVectorLayer</code> mais une chemin pointant vers cette couche si elle a été créé.
Pour charger la couche dans le projet, nous devons donc l’instancier en remplaçant (“écrasant”) la variable de classe <code>str</code> par une instance de la classe <code>QgsVectorLayer</code> :</p>
<pre class="python"><code>communes_aude_surfm2=QgsVectorLayer(communes_aude_surfm2,&quot;communes_aude_surfm2&quot;,&quot;ogr&quot;)
# Verification et chargement de la couche 
if communes_aude_surfm2.isValid()==True:
    iface.messageBar().pushMessage(&quot;Information &quot;,
                                    &quot;Join done&quot;,
                                    level=Qgis.Info,
                                    duration=5)
    QgsProject.instance().addMapLayer(communes_aude_surfm2)
else :
    iface.messageBar().pushMessage(&quot;Error &quot;,
                                    &quot;Join failed&quot;,
                                    level=Qgis.Warning,
                                    duration=5)</code></pre>
<div class="homework">
<p>La couche <code>communes_aude</code> comportait déjà un champ de surface, nommé <code>surf_ha</code> en <span class="math inline">\(ha\)</span>.
Créer un nouvel attribut nommé <code>DIFF_SURF</code> dans une couche mémoire <code>communes_aude_diff_surf</code> qui quantifie la différence relative entre l’attribut <code>surf_ha</code> et <code>SURF_M2</code>. Attention aux unités !
Vous pourrez vous aider et utiliser la <a href="https://docs.qgis.org/3.16/en/docs/user_manual/processing_algs/qgis/vectortable.html#field-calculator">calculatrice de champs</a> de l’extension <code>processing</code>.</p>
</div>
<details>
<p><summary><strong>SOLUTION</strong></summary></p>
<pre class="python"><code># Creation d un attribut DIFF_SURF dans la couche memoire communes_aude_surfm2
parameters={
&#39;INPUT&#39;:communes_aude_surfm2,
&#39;FIELD_NAME&#39;:&quot;DIFF_SURF&quot;,
&#39;FIELD_TYPE&#39;:0,
&#39;NEW_FIELD&#39;:True,
&#39;FORMULA&#39;:&#39;( &quot;SURF_M2&quot;-&quot;surf_ha&quot;*10000 )/( &quot;surf_ha&quot; *10000)&#39;,
&#39;OUTPUT&#39;:&#39;memory:communes_aude_diff_surf&#39;}
communes_aude_diff_surf=processing.run(&quot;qgis:fieldcalculator&quot;, parameters)[&#39;OUTPUT&#39;]
if communes_aude_diff_surf.isValid()==True:
    iface.messageBar().pushMessage(&quot;Information &quot;,
                                    &quot;Join done&quot;,
                                    level=Qgis.Info,
                                    duration=5)
    QgsProject.instance().addMapLayer(communes_aude_diff_surf)
else :
    iface.messageBar().pushMessage(&quot;Error &quot;,
                                    &quot;Join failed&quot;,
                                    level=Qgis.Warning,
                                    duration=5)</code></pre>
</details>
<div class="homework">
<p>À partir de la couche <code>communes_aude_UTM31</code>, déterminer une autre méthode afin de recréer la couche <code>communes_aude_surfm2</code>, ayant le même crs que la couche <code>communes_aude</code></p>
</div>
<details>
<p><summary><strong>SOLUTION</strong></summary>
Il suffit de remarquer que les couches <code>communes_aude_UTM31</code> et <code>communes_aude</code> ont les mêmes attributs excepté <code>SURF_M2</code> mais pas le même crs.
Il ne nous reste plus qu’à reprojeter la couche <code>communes_aude_UTM31</code> en WGS 84 avec le programme</p>
<pre class="python"><code># dictionnaire des parametres du programme de reprojection
parameters={
&#39;INPUT&#39;:communes_aude_UTM31, # couche en entree
&#39;TARGET_CRS&#39;:communes_aude.crs(), # crs de destination
&#39;OUTPUT&#39;:&#39;memory:communes_aude_surfm2&#39;} # couche en sortie 
# lancement du programme
communes_aude_UTM31=processing.run(&quot;qgis:reprojectlayer&quot;, parameters)[&#39;OUTPUT&#39;]
# affiche de la couche si valide 
if communes_aude_UTM31.isValid()==True:
    iface.messageBar().pushMessage(&quot;Information &quot;,
                                    &quot;Reprojection done&quot;,
                                    level=Qgis.Info,
                                    duration=5)
    QgsProject.instance().addMapLayer(communes_aude_UTM31)
else :
    iface.messageBar().pushMessage(&quot;Error &quot;,
                                    &quot;Reprojection failed&quot;,
                                    level=Qgis.Warning,
                                    duration=5)</code></pre>
</div>
</div>
