---
title: 'Bibliographie et ressources'
author: "Victor PÉNOT"
output:
  bookdown::html_document2:
    toc: yes
    toc_float:
      collapsed: yes
      smooth_scroll: yes
    theme: cerulean #united
    highlight: tango
  bookdown::pdf_book:
    toc: yes
    includes: 
      in_header: preambule.tex
---



<div id="ressources-officielles" class="section level1">
<h1>Ressources officielles</h1>
<p><a href="https://qgis.org/pyqgis/master/">API Pyhton</a></p>
<p>Tout sur tout sur les objets de l’API Python de Qgis. Attention c’est assez technique et parfois (souvent !) peu renseigné.</p>
<p><a href="https://docs.qgis.org/3.4/en/docs/index.html">Documentation en ligne Qgis3.4</a></p>
<p>Site de référence où presque toutes les bases et des exemples concret pourront être trouvés, que Qgis en général et en moindre mesure sur son module Python.</p>
<p><a href="https://docs.qgis.org/3.4/en/docs/pyqgis_developer_cookbook/index.html">PyQgis developper Cookbook</a></p>
<p>Le livre de référence pour démmarer en Python sous Qgis. Ça reste assez technique, mais c’est formateur ! Très bien renseigné pour la partie mise en forme des couches.</p>
<p><a href="https://docs.qgis.org/3.10/en/docs/user_manual/processing/console.html#using-processing-algorithms-from-the-console">Processing Toolbox Aide</a></p>
<p>Comment utiliser la Processing Toolbox depuis la console : tout est dit !</p>
</div>
<div id="tutoriels-vidéo" class="section level1">
<h1>Tutoriels Vidéo</h1>
<p><a href="https://www.youtube.com/channel/UCOSeGDrlScCNgBcN5C8nTEw">Chaîne Open Source Options</a></p>
<p>Chaîne Youtube avec beaucoup de vidéo liées aux SIG et quelques unes pour Python sur Qgis. Attention certaines ne sont plus à jour car valables pour Qgis 2.X.</p>
</div>
<div id="tutoriel-en-ligne" class="section level1">
<h1>Tutoriel en ligne</h1>
<p><a href="http://www.qgistutorials.com/en/">Qgis et Python par Ujaval Gandhi</a></p>
<p>Beaucoup de cas concrets sur Qgis en générale et Python en particulier. Super ! Mais c’est en anglais.</p>
<p><a href="https://courses.spatialthoughts.com/pyqgis-in-a-day.html">PyQgis in a day par Ujaval Gandhi</a></p>
<p>Même si le titre est un peu optimiste c’est très bien fait et renseigné.
A lire absolument.</p>
</div>
