---
title: 'Raster, chargement et manipulation'
author: "Victor PÉNOT"
weight : 4 
pre: "<b>TP 4. </b>"
output:
  bookdown::html_document2:
    #css: style.css
    toc: yes
    toc_float:
      collapsed: yes
      smooth_scroll: yes
    theme: cerulean #united
    highlight: tango
  bookdown::pdf_book:
    toc: yes
    #includes: 
      #in_header: preambule.tex
---



<div id="definition-initiale-des-chemins-vers-les-jeux-de-données" class="section level1">
<h1>Definition initiale des chemins vers les jeux de données</h1>
<pre class="python"><code>import os 
# Repertoire de travail
work_path=&quot;/home/victor/Bureau/LPTIC_Carcassone/COURS/TP4/RES&quot;
# Definition du repertoire de travail
os.chdir(work_path)
# Repertoire des donnees raster
path_to_raster=&quot;../../DATA/SENTINEL&quot;
# Repertoire des donnees vecteur 
path_to_vector=&quot;../../DATA/ZONE_ETUDE&quot;</code></pre>
</div>
<div id="utilisation-du-module-glob" class="section level1">
<h1>Utilisation du module <code>glob</code></h1>
<p>Nous devons ouvrir 4 couches raster. Les noms des couches Sentinel 2 fournies par Theia sont assez complexes et fournissent un nombre important d’informations sur la couches.</p>
<div id="obtention-de-la-liste-des-dates-de-debut-de-prise-de-vue" class="section level2">
<h2>Obtention de la liste des dates de debut de prise de vue</h2>
<p>Plutôt que de parser manuellement les fichiers afin de connaître les dates de prises de vue, listons-les simplement.
Pour cela obtenons la liste des fichiers Sentinel au format <code>tif</code> via le module <a href="https://docs.python.org/fr/3.6/library/glob.html"><code>glob</code></a> qui fournit la méthode <code>glob</code>. Cette dernière renvoie la liste des fichiers contenant (ou non) certains motifs. Ici nous utiliserons la <a href="https://pymotw.com/2/glob/">widlcart <code>*</code></a>. Les motifs recherchés seront ici “SENTINEL2” au début du nom de fichiers et “.tif” en fin de nom, tous caractère étant autorisé entre les deux (utilisation de <code>*</code>).</p>
<pre class="python"><code># Chargement des modules glob et os
import glob
# Obtention des chemins relatifs des rasters sentinel du dossier
raster_path=glob.glob(os.path.join(path_to_raster,&quot;SENTINEL2*.tif&quot;))
print(&quot;Nombre de couches dans le dossier : &quot;,len(raster_path))</code></pre>
<p>Pour n’obtenir que le nom des fichiers et non pas les chemins relatifs recréons une nouvelles liste :</p>
<pre class="python"><code>raster_name=[ os.path.basename(path) for path in raster_path ]
print(raster_name)</code></pre>
<p>Obtenons maintenant la liste des dates. En observant la syntaxe d’un nom de couche Sentinel, nous remarquons que la date se trouve en deuxième positon après le <code>_</code> et en première position avant le <code>-</code></p>
<pre class="python"><code># Creation d une liste vide 
date=[]
# Remplissage de la liste via une Iteration sur le nom des couches raster : un peu de POO 
[date.append(d.split(&quot;_&quot;)[1].split(&quot;-&quot;)[0]) for d  in raster_name if not d.split(&quot;_&quot;)[1].split(&quot;-&quot;)[0] in date  ]
# Affichage des dates des couches sentinel
print(date)</code></pre>
<div class="homework">
<p>Créer une nouvelle liste <code>band</code> qui stockera les différentes bandes disponibles parmi les rasters. On supposera que chaque bande est disponible à chaque date.</p>
</div>
<pre class="python"><code># Creation d une liste vide pour le stockage des bandes
band=[]
# Remplissage de la liste via une iteration sur le nom des couches raster : un peu de POO 
[band.append(d.split(&quot;_&quot;)[7].split(&quot;.&quot;)[0]) for d  in raster_name if not d.split(&quot;_&quot;)[7].split(&quot;.&quot;)[0] in band]
# Affichage des bandes des couches sentinel
print(band)</code></pre>
::: {.homework data-latex="""}
Si vous avez le temps et l’envie, créer une nouvelle liste <code>date_band</code> qui stockera les différentes bandes disponibles à une date donnée parmi les rasters. Cela permet de vérifier que chaque bande est disponible à chaque date.
:::
<details>
<p><summary><strong>SOLUTION</strong></summary></p>
<pre class="python"><code># Creation d une liste vide pour le stockage des bandes et des dates
date_band=[]
# Remplissage de la liste via une iteration sur le nom des couches raster : un peu de POO 
[date_band.append(d.split(&quot;_&quot;)[7].split(&quot;.&quot;)[0]+&quot;_&quot;+d.split(&quot;_&quot;)[1].split(&quot;-&quot;)[0]) for d  in raster_name if not d.split(&quot;_&quot;)[7].split(&quot;.&quot;)[0]+&quot;_&quot;+d.split(&quot;_&quot;)[1].split(&quot;-&quot;)[0] in date_band]
# Affichage des bandes et des dates des couches sentinel
print(date_band)</code></pre>
</details>
</div>
</div>
<div id="chargement-dune-couche-raster" class="section level1">
<h1>Chargement d’une couche raster</h1>
<p>Nous allons commencer par charger une couche raster dans le projet afin de visionner son étendue par rapport à l’étendue de la zone d’étude.
Nous commencerons par la couche <code>B8A</code> en date du <code>20171007</code> stockée sous le nom <code>b8a_20171007</code>, qui sera aussi la variable.
Aussi simplement qu’une couche vecteur, cette couche raster s’importe dans la session Python puis dans le projet en instanciant la classe <code>QgsRasterLayer</code> avec la données d’un chemin vers la couche :</p>
<pre class="python"><code># Chargement d un raster dans le projet par exemple la couche b8A à la date 20171007
# Le module glob nous evite de trop ecrire.
b8a_20171007=QgsRasterLayer(glob.glob(os.path.join(path_to_raster,&quot;*20171007*B8A*&quot;))[0])
# Ajout de la couche au projet
QgsProject.instance().addMapLayer(b8a_20171007)</code></pre>
<div class="homework">
<p>Charger la couche <code>ZONE_ETUDE.shp</code> dans le projet.</p>
</div>
<details>
<p><summary><strong>SOLUTION</strong></summary></p>
<pre class="python"><code># Chargement de la zone d etude
zone=QgsVectorLayer(os.path.join(path_to_vector,&quot;ZONE_ETUDE.shp&quot;),&quot;zone_etude&quot;,&quot;ogr&quot;)
# et affichage dans le projet
QgsProject.instance().addMapLayer(zone)</code></pre>
</details>
<p>Il va nous falloir restreindre la couche raster. Puisque nous n’avons plus besoin de cette dernière supprimons-la du projet et de la session Python (gain de mémoire)</p>
<pre class="python"><code># Suppression de la couche raster du projet
QgsProject.instance().removeMapLayer(b8a_20171007.id())
del b8a_20171007
iface.mapCanvas().refresh()</code></pre>
</div>
<div id="decoupage-dune-couche-raster-à-partir-dune-couche-vectorielle" class="section level1">
<h1>Decoupage d’une couche raster à partir d’une couche vectorielle</h1>
<p>Il est évident que la couche raster est beaucoup trop étendue (de même que les autres). Afin de réduire les temps de calculs, nous allons découper toutes les couches rasters grâce au programme <a href="https://docs.qgis.org/3.10/en/docs/user_manual/processing_algs/gdal/rasterextraction.html#clip-raster-by-mask-layer"><code>gdal:cliprasterbyextent</code></a> de l’extension <code>processing</code>.</p>
<div class="homework">
<p>Grâce à une boucle sur les fichiers raster et au programme de découpage, écrire un programme permettant de découper les rasters selon l’étendue de la couche vectorielle <code>zone_etude</code> . On enregistrera ces couches permanentes dans le répertoire de travail en ajoutant le suffixe <code>CLIP</code> au nom de la couche en entrée.</p>
</div>
<details>
<p><summary><strong>SOLUTION</strong></summary></p>
<pre class="python"><code># Decoupage de toutes les couches presentes dans le dossier SENITINEL
# selon l emprise de la zone d etude 
for layer_path in raster_path :
    #chargement de la couche raster
    raster_layer=QgsRasterLayer(layer_path)
    # nom de la couche en sortie
    output=&quot;CLIP_&quot;+ os.path.basename(layer_path)
    # dictionnaire des parametres 
    parameters={
    &#39;INPUT&#39;:raster_layer,
    &#39;MASK&#39;:zone,
    &#39;OUTPUT&#39;:output}
    processing.run(&quot;gdal:cliprasterbymasklayer&quot;, parameters)</code></pre>
<p>Chargeons maintenant les couches rasters dans 4 variables nommées selon la syntaxe <code>b*num_couche*_*date*</code></p>
<pre class="python"><code>b8A_20171007=QgsRasterLayer(glob.glob(&quot;*20171007*B8A*.tif&quot;)[0],&quot;b8A_20171007&quot;)
QgsProject.instance().addMapLayer(b8A_20171007)

b8A_20171017=QgsRasterLayer(glob.glob(&quot;*20171017*B8A*.tif&quot;)[0],&quot;b8A_20171017&quot;)
QgsProject.instance().addMapLayer(b8A_20171017)

b12_20171007=QgsRasterLayer(glob.glob(&quot;*20171007*B12*.tif&quot;)[0],&quot;b12_20171007&quot;)
QgsProject.instance().addMapLayer(b12_20171007)

b12_20171017=QgsRasterLayer(glob.glob(&quot;*20171017*B12*.tif&quot;)[0],&quot;b12_20171017&quot;)
QgsProject.instance().addMapLayer(b12_20171017)

# Puis zoom sur une couche 
iface.mapCanvas().setExtent(zone.extent())</code></pre>
</div>
<div id="calcul-dun-indice-calculatrice-raster" class="section level1">
<h1>Calcul d’un indice : calculatrice raster</h1>
<p>Nous allons désormais calculer l’indice <span class="math inline">\(NBR\)</span> à chaque date. Il nous faut effectuer le calcul suivant à partir des deux couches d’indices obtenus à une date <span class="math display">\[NBR=\dfrac{B8A-B12}{B8A+B12}\]</span>
Nous allons de nouveau utiliser un programme de l’extension <code>processing</code> : <a href="https://docs.qgis.org/3.10/en/docs/user_manual/processing_algs/gdal/rastermiscellaneous.html#raster-calculator"><code>gdal:rastercalculator</code></a></p>
<p>Commençons par calculer le <span class="math inline">\(NBR\)</span> en date du 20171007. Définissons le dictionnaire des paramètres, exécutons le programme et chargeons la couche</p>
<pre class="python"><code># Calcul du NBR le 20171007
output=&quot;NBR_20171007.tif&quot;
parameters={
    # couche en entree b8a
    &#39;INPUT_A&#39;:b8A_20171007,
    # numero de la bande
    &#39;BAND_A&#39;:1,
    # couche en entree b12
    &#39;INPUT_B&#39;:b12_20171007,
    # numero de la bande
    &#39;BAND_B&#39;:1,
    # expression a evaluer
    &#39;FORMULA&#39;:&#39;(A-B)/(A+B)&#39;,
    &#39;NO_DATA&#39;:-9999,
    # type de float en sortie
    &#39;RTYPE&#39;:5,
    # couche en sortie
    &#39;OUTPUT&#39;:output}
# execution du programme
output=processing.run(&#39;gdal:rastercalculator&#39;,parameters)[&#39;OUTPUT&#39;]
# chargement de la couche dans le projet
nbr_20171007=QgsProject.instance().addMapLayer(QgsRasterLayer(output,&#39;nbr_20171007&#39;))</code></pre>
<div class="homework">
<p>Faire de même à la date 20171017.</p>
</div>
<details>
<p><summary><strong>SOLUTION</strong></summary></p>
<pre class="python"><code># Calcul du NBR le 20201017
output=&quot;NBR_20171017.tif&quot;
parameters={
    # couche en entree b8a
    &#39;INPUT_A&#39;:b8A_20171017,
    # numero de la bande
    &#39;BAND_A&#39;:1,
    # couche en entree b12
    &#39;INPUT_B&#39;:b12_20171017,
    # numero de la bande
    &#39;BAND_B&#39;:1,
    # expression a evaluer
    &#39;FORMULA&#39;:&#39;(A-B)/(A+B)&#39;,
    &#39;NO_DATA&#39;:-9999,
    # type de float en sortie
    &#39;RTYPE&#39;:5,
    # couche en sortie
    &#39;OUTPUT&#39;:output}
# execution du programme
output=processing.run(&#39;gdal:rastercalculator&#39;,parameters)[&#39;OUTPUT&#39;]
# chargement de la couche dans le projet
nbr_20171017=QgsProject.instance().addMapLayer(QgsRasterLayer(output,&#39;nbr_20171017&#39;))</code></pre>
</details>
<div class="homework">
<p>En vous appuyant sur l’exemple précédent, évaluer l’évolution du <span class="math inline">\(NBR\)</span> entre les deux dates, definie par
<span class="math display">\[\Delta NBR =NBR_{prefire}-NBR_{postfire}\]</span>
On donnera comme nom de fichier :<code>DNBR_20171007_20171017.tif</code></p>
</div>
<details>
<p><summary><strong>SOLUTION</strong></summary></p>
<pre class="python"><code># Calcul du dNBR
output=&quot;DNBR_20171007_20171017.tif&quot;
parameters={
    # couche en entree b8a
    &#39;INPUT_A&#39;:nbr_20171007,
    # numero de la bande
    &#39;BAND_A&#39;:1,
    # couche en entree b12
    &#39;INPUT_B&#39;:nbr_20171017,
    # numero de la bande
    &#39;BAND_B&#39;:1,
    # expression a evaluer
    &#39;FORMULA&#39;:&#39;(A-B)&#39;,
    &#39;NO_DATA&#39;:-9999,
    # type de float en sortie
    &#39;RTYPE&#39;:5,
    # couche en sortie
    &#39;OUTPUT&#39;:output}
# execution du programme
output=processing.run(&#39;gdal:rastercalculator&#39;,parameters)[&#39;OUTPUT&#39;]
# chargement de la couche dans le projet
dnbr=QgsProject.instance().addMapLayer(QgsRasterLayer(output,&#39;dnbr&#39;))</code></pre>
</details>
</div>
<div id="seuillage-de-la-couche" class="section level1">
<h1>Seuillage de la couche</h1>
<p>Le calcul de la couche précédente du <span class="math inline">\(\Delta NBR\)</span> nous permet de définir le contour de l’incendie. Des études scientifiques ont montré que pour un <span class="math inline">\(\Delta NBR\)</span> supérieur à <span class="math inline">\(0,10\)</span> la zone pouvait être considérée comme incendiée.</p>
<div class="homework">
<p>En utilisant la calculatrice raster, effectuer un seuillage à <span class="math inline">\(0,10\)</span> grâce à l’expression <code>A&gt;0.10</code>. On enregistrera la couche sous le nom <code>raster_fire.tif</code></p>
</div>
<details>
<p><summary><strong>SOLUTION</strong></summary></p>
<pre class="python"><code># Calcul et affichage du raster de la zone de feu
output=&quot;raster_fire.tif&quot;
parameters={
    &#39;INPUT_A&#39;:dnbr,
    &#39;BAND_A&#39;:1,
    &#39;FORMULA&#39;:&#39;A&gt;0.1&#39;,
    &#39;NO_DATA&#39;:-9999,
    &#39;RTYPE&#39;:5,
    &#39;OUTPUT&#39;:output}
processing.run(&#39;gdal:rastercalculator&#39;,parameters)
raster_fire=QgsRasterLayer(output,os.path.basename(output)[:-4])
QgsProject.instance().addMapLayer(raster_fire)</code></pre>
</details>
</div>
<div id="conclusion" class="section level1">
<h1>Conclusion</h1>
<p>Comparer “visuellement” le raster précédemment obtenu avec la couche de comparaison de référence de l’incendie disponible dans le dossier <code>DATA/COMP</code></p>
<div class="figure" style="text-align: center"><span id="fig:unnamed-chunk-16"></span>
<img src="images_qgis/1.png" alt="Détection satellite : un peu de bruit" width="80%" />
<p class="caption">
Figure 1: Détection satellite : un peu de bruit
</p>
</div>
<div class="figure" style="text-align: center"><span id="fig:unnamed-chunk-17"></span>
<img src="images_qgis/2.png" alt="Couche officielle ... déterminée par satellite !" width="80%" />
<p class="caption">
Figure 2: Couche officielle … déterminée par satellite !
</p>
</div>
</div>
