---
title: 'Gestion des couches temporaires'
author: "Victor PÉNOT"
output:
  bookdown::html_document2:
    toc: yes
    toc_float:
      collapsed: yes
      smooth_scroll: yes
    theme: cerulean #united
    highlight: tango
  bookdown::pdf_book:
    toc: yes
    includes: 
      in_header: preambule.tex
---



<div id="un-problème-doptimisation-et-de-discrétion" class="section level1">
<h1>Un problème d’optimisation et de discrétion</h1>
<p>Le sigiste est souvent amené à travailler avec des couches temporaires, dans le cas notamment de résultats intermédiaires qui n’ont pas vocation à être conservés mais sont juste un étape vers le résultat final. C’est le cas notamment lorsqu’il utilise l’extension <code>porcessing</code> et qu’il doit renseigner le nom du chemin vers l’<code>OUTPUT</code>.</p>
<p><img src="images_qgis/3.png" width="100%" style="display: block; margin: auto;" />
Plusieurs options s’offrent au programmeur :</p>
<ul>
<li>créer un dossier de couches temporaire dans un répertoire de son choix et les suppimer au fur et à mesure ou à la fin du programme ;</li>
<li>créer un fichier temporaire ou un dossier temporaire dans le dosier <code>/tmp</code> de l’ordinateur (pour les utilisateur d’OSX et de Linux). Python dispose d’un module spécifique dédié : <a href="https://docs.python.org/fr/3/library/tempfile.html"><code>tempfile</code></a></li>
<li>créer un fichier qui sera automatiquement supprimé à la fermeture de Qgis. C’est ce que nous allons approfondir.</li>
</ul>
<p>Lors de l’utilisation GUI de de l’extension <code>Processing</code> (ou GDAL etc.), l’option par défaut du type de couche de sortie est temporaire:</p>
<p><img src="images_qgis/1.png" width="100%" style="display: block; margin: auto;" /></p>
<p>et en sortie on voit apparaître le chemin vers cette couche.</p>
<p><img src="images_qgis/2.png" width="100%" style="display: block; margin: auto;" /></p>
<p>Lors de l’écriture d’un script plusieurs options s’offrent à nous pour générer ces couches mémoires.</p>
</div>
<div id="première-méthode" class="section level1">
<h1>Première méthode</h1>
<p>La première consiste à utiliser des mots clés reconnus par Qgis et permettant de créer une couche mémoire :
* <code>memory: nom_de_la_couche</code>
mais cela ne fonctionne pas pas sur tout les scripts … GDAL par exemple
* à partir de Qgsi 3.6 : <code>QgsProcessing.TEMPORARY_OUTPUT</code> (non testé de manière systématique jusqu’à présent)</p>
</div>
<div id="deuxième-méthode" class="section level1">
<h1>Deuxième méthode</h1>
<p>La seconde fonctionne toujours (dans ma petire expérience). Elle repose sur la création de fichiers temporaires dans un dossier temporaire géré pa QGis. Ce dossier et ce fichier disparaitrony à la fermeture de Qgis ou à la fin du programme.
Elle utilise le module <a href="https://qgis.org/pyqgis/3.0/core/Processing/QgsProcessingUtils.html#module-QgsProcessingUtils"><code>QgsProcessingUtils</code></a> et 2 méthodes. L’une pour la création d’un dossier temporaire (<em>NB</em> : une fois créé dans la session Qgis, il restera identique, même si on tente d’en créer un autre) <a href="https://qgis.org/pyqgis/3.0/core/Processing/QgsProcessingUtils.html#qgis.core.QgsProcessingUtils.tempFolder"><code>tempFolder</code></a></p>
<pre class="python"><code># Creation du dossier temporaire
temp_dir=QgsProcessingUtils.tempFolder()</code></pre>
<p>et l’autre, <a href="https://qgis.org/pyqgis/3.0/core/Processing/QgsProcessingUtils.html#qgis.core.QgsProcessingUtils.generateTempFilename"><code>generateTempFileName</code></a>, pour la création du fichier temporaire :</p>
<pre class="python"><code># Creation du fichier temporaire
output=QgsProcessingUtils.generateTempFileName(temp_dir) </code></pre>
<p>On obtient par exemple en sortie de console :</p>
<pre class="python"><code>&gt;&gt;&gt; output
&#39;/tmp/processing_3863dcde570d48ac9dfc547560f7e7ad/1380ee56df0a4937a746e587484a8a57/_tmp_processing_3863dcde570d48ac9dfc547560f7e7ad&#39;</code></pre>
<p>Dans le dictionnaire <code>parameters</code> de la méthode <code>processing.run</code> on obtiendra <em>de facto</em> une instance de <code>QgsVectorLayer</code>ou <code>QgsRasterLayer</code> pour la clé <code>OUTPUT</code>qui correspondra à notre couche mémoire.</p>
<pre class="python"><code># Creation du dictionnaire des parametres :
parameters={
&#39;INPUT&#39;:input_layer,
...
&#39;OUTPUT&#39;:ouput # +&quot;tif&quot; ou +&quot;shp&quot;
}
#Stockage de la couche memoire en sortie de la methode dans la variable out_tmp
out_tmp=processing.run(&quot;algorithm_id&quot;, parameters)[&#39;OUTPUT&#39;]</code></pre>
</div>
