---
title: 'Actions de couche'
author: "Victor PÉNOT"
weight : 3
pre: "<b>TP 3. </b>"
output:
  bookdown::html_document2:
    toc: yes
    toc_float:
      collapsed: yes
      smooth_scroll: yes
    theme: cerulean #united
    highlight: tango
  bookdown::pdf_book:
    toc: yes
---



<div id="creation-dune-action-de-couche" class="section level1">
<h1>Creation d’une action de couche</h1>
<p>Une <a href="https://docs.qgis.org/3.4/en/docs/training_manual/create_vector_data/actions.html#ls-actions">action de couche</a> est un programme associé à une couche vectorielle, qui permet d’effectuer une action sur cette couche, à partir d’un clic de souris par exemple.</p>
<div id="premier-exemple" class="section level2">
<h2>Premier exemple</h2>
<p>Comme premier exemple, nous allons créer une action de couche qui permet, à partrir de la couche des communes de France, de sélectionner les communes qui apprtiennnent au même département qu’une commune désignée par un clic de souris.
Commençons par charger manuellement la couche des communes de France dans le projet courant. Puis ouvrons la fenêtre des propriétés de la couche, onglet “Action” et ajoutons une nouvelle action en cliquant sur le “+”.</p>
<div class="figure" style="text-align: center"><span id="fig:unnamed-chunk-1"></span>
<img src="images_qgis/1.png" alt="Ouverture du panneau de configuration de la couche : action" width="80%" />
<p class="caption">
Figure 1: Ouverture du panneau de configuration de la couche : action
</p>
</div>
<p>Dans la fenêtre du paramétrage de l’action sélectionons <em>PYTHON</em> (nous allons écrire un programme), <em>CANVAS</em> (nous allons interagir par clic avec la couche) et précisons son nom long et court.
Copier-collons le code ci-dessous dans la fenêtre idoine et validons cet fenêtre.</p>
<pre class="python"><code># Selection de la couche des communes
layer = QgsProject.instance().mapLayer(&#39;[% @layer_id %]&#39;)
# Selection des entites dans le meme departement apres clic &quot;Canvas&quot;
layer.selectByExpression(&#39;left(&quot;insee&quot;,2)=[%left(&quot;insee&quot;,2)%]&#39;,QgsVectorLayer.SetSelection)</code></pre>
<div class="figure" style="text-align: center"><span id="fig:unnamed-chunk-3"></span>
<img src="images_qgis/2.png" alt="Paramétrage de l'action et ecriture du programme" width="80%" />
<p class="caption">
Figure 2: Paramétrage de l’action et ecriture du programme
</p>
</div>
Appliquons les modifications à la couche et fermons la fenêtre des propriétés.
<div class="figure" style="text-align: center"><span id="fig:unnamed-chunk-4"></span>
<img src="images_qgis/3.png" alt="Enregistrement et fermeture de la fenêtre des Propiétés" width="80%" />
<p class="caption">
Figure 3: Enregistrement et fermeture de la fenêtre des Propiétés
</p>
</div>
Sélectionnons l’action via l’icône pointé ci-dessous.
<div class="figure" style="text-align: center"><span id="fig:unnamed-chunk-5"></span>
<img src="images_qgis/4.png" alt="Accéder aux actions par clic" width="80%" />
<p class="caption">
Figure 4: Accéder aux actions par clic
</p>
</div>
Cliquons sur une commune de notre choix. C’est fait : la sélection des communes d’un même département est effectuée !
<div class="figure" style="text-align: center"><span id="fig:unnamed-chunk-6"></span>
<img src="images_qgis/5.png" alt="Action en action" width="80%" />
<p class="caption">
Figure 5: Action en action
</p>
</div>
</div>
<div id="deuxieme-exemple" class="section level2">
<h2>Deuxieme exemple</h2>
<p>Créons maintenant une action de couche qui nous informe par clic du nom de la commune et qui ouvre l’article Wikipédia sur cette commune.
Le début est le même que précédemment.</p>
<pre class="python"><code>from qgis.PyQt import QtWidgets
msgbox = QtWidgets.QMessageBox()
msgbox.setWindowTitle(&quot;Information&quot;)
msgbox.setText(&quot;Code Insee et nom :&quot;+&quot;[% insee %]&quot;+&quot; &quot;+&quot;[% nom %]&quot; )
msgbox.addButton(QtWidgets.QMessageBox.Ok)
msgbox.addButton(&#39;Wikipedia&#39;, QtWidgets.QMessageBox.YesRole)
bttn=msgbox.exec_()
if not bttn==QtWidgets.QMessageBox.Ok:
    import webbrowser
    webbrowser.open(&quot;https://fr.wikipedia.org/wiki/&quot;+&quot;[% wikipedia %]&quot;)</code></pre>
</div>
</div>
<div id="tâche-à-réaliser" class="section level1">
<h1>Tâche à réaliser</h1>
<div class="homework">
<p>Créer une action de couche telle que si on clique sur une commune dans le canvas, elle sélectionne cette commune et les communes adjacentes (dont les limites se touchent) et zoome sur cette sélection.
Vous pourrez avoir besoin de l’extension <code>processing</code> et notamment du programme <a href="https://docs.qgis.org/3.16/en/docs/user_manual/processing_algs/qgis/vectorselection.html?highlight=selectbylocation#select-by-location"><code>selectbylocation</code></a></p>
</div>
<details>
<p><summary><strong>SOLUTION</strong></summary></p>
<pre class="python"><code># Import du module processing 
import processing
# Import du module pour le zoom sur les entites selectionnees
from qgis.utils import iface
# Selection de la couche des communes
layer = QgsProject.instance().mapLayer(&#39;[% @layer_id %]&#39;)
# Selection de l entite cliquee
layer.selectByExpression(&#39;&quot;insee&quot;=[%&quot;insee&quot;%]&#39;,QgsVectorLayer.SetSelection)
# Enregistrement de l entite selectionnee dans une couche temporaire
parameters={
&#39;INPUT&#39;:layer,
&#39;OUTPUT&#39;:&#39;memory:&#39;}
commune=processing.run(&#39;qgis:saveselectedfeatures&#39;,parameters)[&#39;OUTPUT&#39;]
# Selection des communes touchant l entite selectionnee et affichage
parameters={
&#39;INPUT&#39; :layer,
&#39;PREDICATE&#39;:4,
&#39;INTERSECT&#39; :commune,
&#39;METHOD&#39;:1}
processing.run(&#39;qgis:selectbylocation&#39;,parameters)
# Zoom sur les entites selectionnees
iface.actionZoomToSelected().trigger()</code></pre>
</div>
