---
title: 'Outils personnalisés'
author: "Victor PÉNOT"
weight : 5
pre: "<b>TP 5. </b>"
output:
  bookdown::html_document2:
    #css: style.css
    toc: yes
    toc_float:
      collapsed: yes
      smooth_scroll: yes
    theme: cerulean #united
    highlight: tango
  bookdown::pdf_book:
    toc: yes
    #includes: 
      #in_header: preambule.tex
---



<p>Nous désirons automatiser le protocole permettant de calculer le <span class="math inline">\(NBR\)</span>, connaissant les couches <span class="math inline">\(PIR\)</span> et <span class="math inline">\(SWIR\)</span> tout en conservant une interface utilisateur conviviale.
Qgis nous donne la possibilité d’utiliser le cadre des programmes de l’extension <code>Processing</code> afin de créer nous même notre outil. L’idée est de bénéficier du contexte, sans avoir à coder les boutons, barres de progressions, etc.</p>
<div id="ouverture-dun-script-modèle" class="section level1">
<h1>Ouverture d’un script modèle</h1>
<p>Ouvrir la <strong>Processing Toolbox</strong> (ou <strong>Boîte à outils de traitement</strong>) et cliquer sur l’icône <code>Python</code>, onglet <code>Créer un nouveau script depuis un modèle...</code>.</p>
<div class="figure" style="text-align: center"><span id="fig:unnamed-chunk-1"></span>
<img src="images_qgis/1.png" alt="Ecrire un nouveau script" width="80%" />
<p class="caption">
Figure 1: Ecrire un nouveau script
</p>
</div>
Un script <em>exemple</em> va s’ouvrir. Première étape, enregistrer le fichier sous le nom <code>NBR_index.py</code> dans le dossier “/processing/scripts/”, qui devrait s’ouvrir au clic sur la disquette d’enregistrement.
<div class="figure" style="text-align: center"><span id="fig:unnamed-chunk-2"></span>
<img src="images_qgis/2.png" alt="Enregistrement du script " width="80%" />
<p class="caption">
Figure 2: Enregistrement du script
</p>
</div>
<p>Ce script modèle va nous servir de canevas afin de créer notre script personnel.
Initialement, il est prévu afin de calculer une zone buffer. Il y a du travail !</p>
Après avoir lu et compris les commentaires d’entête, suppprimons-les pour y voir plus clair et profitons-en pour changer le nom de notre nouvelle classe. Laissons en l’état les modules à charger, nous simplifierons plus tard.
<div class="figure" style="text-align: center"><span id="fig:unnamed-chunk-3"></span>
<img src="images_qgis/3.png" alt="Enregistrement du script " width="80%" />
<p class="caption">
Figure 3: Enregistrement du script
</p>
</div>
<p>Au début de notre classe, sont définis les attributs d’entrée et sortie, i.e. les noms des variables de notre fenêtre de dialogue avec l’utilisateur. Nous aurons, deux <code>INPUT</code> et un <code>OUTPUT</code>.</p>
<pre class="python"><code>class NBR_index(QgsProcessingAlgorithm):
    INPUT1 = &#39;INPUT1&#39;
    INPUT2 = &#39;INPUT2&#39;
    OUTPUT = &#39;OUTPUT&#39;</code></pre>
<p>Laissons ensuite la méthode <code>tr</code> de côté, mais modifions la méthode <code>creatInstance</code> qui retourne une instance de la classe que nous créons actuellement, lors de l’appel de celle-ci.</p>
<pre class="python"><code>    def tr(self, string):
        return QCoreApplication.translate(&#39;Processing&#39;, string)

    def createInstance(self):
        return NBR_index()</code></pre>
<p>Puis modifions les différents noms et affichage.</p>
<pre class="python"><code>    def name(self):
        &quot;&quot;&quot; Nom d identification de l algorithme. Doit être unique &quot;&quot;&quot;
        return &#39;nbr_index&#39;

    def displayName(self):
        &quot;&quot;&quot;Nom affiche lors de l appel&quot;&quot;&quot;
        return self.tr(&#39;NBR_index&#39;)

    def shortHelpString(self):
        &quot;&quot;&quot; Courte description du programme&quot;&quot;&quot;
        return self.tr(&quot;Calcul du Normalized Burnt Ratio&quot;)</code></pre>
<p>Attaquons nous désormais à la partie des spécifications de dialogue d’entrée et sortie de l’algorithme. Commençons par la définition des <code>INPUTS</code> et de l’<code>OUTPUT</code>. L’idée est de définir leurs propriétés afin de bloquer les erreurs de l’utilisateur. On ne veut pas un vecteur en entrée ici, donc précisons que nous voulons un raster !</p>
<pre class="python"><code>    def initAlgorithm(self, config=None):
        &quot;&quot;&quot; Definition des inputs, de l output et de certaines de leurs proprietes&quot;&quot;&quot;

        # Ajout de la couche raster 1 en entree. Ce sera la couche B8
        self.addParameter(
            # Precisons que le type est raster
            QgsProcessingParameterRasterLayer(
                self.INPUT1,
                self.tr(&#39;NIR B8 SENTINEL&#39;)
            )
        )
        # Ajout de la couche raster 1 en entree. Ce sera la couche B8
        self.addParameter(
            QgsProcessingParameterRasterLayer(
                self.INPUT2,
                self.tr(&#39;SWIR B12 SENTINEL&#39;)
            )
        )
        # Ajout de la couche raster en sortie
        self.addParameter(
            QgsProcessingParameterRasterDestination(
                self.OUTPUT,
                self.tr(&#39;NBR output&#39;)
            )
        )</code></pre>
<p>Puisque nous avons utlisé la classe <code>QgsProcessingParameterRasterLayer</code> et <code>QgsProcessingParameterRasterDestination</code> ajoutons que nous devons les importer depuis le module <code>qgis.core</code> au tout début du script. Profitons-en pour faire un peu de ménage. Gardons <code>QgsProcessing</code> et <code>QgsProcessingAlgorithm</code> puisque nous travaillons avec.</p>
<pre class="python"><code>from qgis.core import (QgsProcessing,
                       QgsProcessingAlgorithm,
                       QgsProcessingParameterRasterLayer,
                       QgsProcessingParameterRasterDestination)</code></pre>
<p>Puis attaquons nous au coeur du programme avec la méthode <code>processAlgorithm</code>. Nous pouvons supprimer l’ensemble du script : nous allons tout réécrire.
Commençons par définir les variables sources, i.e les entrées (pour l’instant nous n’avons fait que de l’affichage !) et la variables en sortie.
Pour plus d’information sur la variable <a href="https://qgis.org/pyqgis/3.0/core/Processing/QgsProcessingContext.html"><code>context</code></a></p>
<pre class="python"><code>    &quot;&quot;&quot; Couche en entree PIR &quot;&quot;&quot;
        input1 = self.parameterAsRasterLayer(
            # stockee dans le dico parametres
            parameters,
            # correspond a l attribut INPUT1
            self.INPUT1,
            context
        )
        &quot;&quot;&quot; Message d erreur si mal charge&quot;&quot;&quot;
        if input1 is None:
            raise QgsProcessingException(self.invalidSourceError(parameters, self.INPUT1))
            
        &quot;&quot;&quot; Couche en entree SWIR &quot;&quot;&quot;
        input2= self.parameterAsRasterLayer(
            parameters,
            self.INPUT2,
            context
        )
        &quot;&quot;&quot; Message d erreur si mal charge&quot;&quot;&quot;
        if input2 is None:
            raise QgsProcessingException(self.invalidSourceError(parameters, self.INPUT2))
            
        &quot;&quot;&quot; Couche en sortie NBR &quot;&quot;&quot;
        output=self.parameterAsOutputLayer(
            parameters, 
            self.OUTPUT,
            context
        )
        if output is None:
            raise QgsProcessingException(self.invalidSinkError(parameters, self.OUTPUT))</code></pre>
<p>Nous avons utilisé la classe <code>QgsProcessingException</code> donc ajoutons-là à l’entête du fichier</p>
<pre class="python"><code>from qgis.core import (QgsProcessing,
                       QgsProcessingAlgorithm,
                       QgsProcessingParameterRasterLayer,
                       QgsProcessingParameterRasterDestination,
                       QgsProcessingException)</code></pre>
<p>Écrivons désormais le calcul à proprement dit du <span class="math inline">\(NBR\)</span>. Puisque le programme <code>gdal:rastercalculator</code> est utilisé à l’intérieur de notre programme nous devons le préciser via le paramètre <code>is_child_algorithm=True</code></p>
<pre class="python"><code>        &quot;&quot;&quot; Coeur de calcul du programme, avec le module processing &quot;&quot;&quot;
        parameters={
        # couche en entree b8a
        &#39;INPUT_A&#39;:input1,
        # numero de la bande
        &#39;BAND_A&#39;:1,
        # couche en entree b12
        &#39;INPUT_B&#39;:input2,
        # numero de la bande
        &#39;BAND_B&#39;:1,
        # expression a evaluer
        &#39;FORMULA&#39;:&#39;(A-B)/(A+B)&#39;,
        &#39;NO_DATA&#39;:-9999,
        # type de float en sortie
    &#39;   RTYPE&#39;:5,
        # couche en sortie
        &#39;OUTPUT&#39;:output}
        # execution du programme, attention a bien mettre context, feedback afin d avoir les retours d avancement.
        processing.run(&#39;gdal:rastercalculator&#39;,parameters,context=context, feedback=feedback, is_child_algorithm=True)
        # Couche en sortie
        return {self.OUTPUT: output}</code></pre>
<p>Nous avons utilisé des <a href="https://qgis.org/pyqgis/3.2/core/Processing/QgsProcessingFeedback.html"><code>feedback</code></a> donc ajoutons cette classe dans l’entête et vérifions que le module <code>processing</code> est bien chargé.</p>
<pre class="python"><code>from qgis.core import (QgsProcessing,
                       QgsProcessingAlgorithm,
                       QgsProcessingParameterRasterLayer,
                       QgsProcessingParameterRasterDestination,
                       QgsProcessingException,
                       QgsProcessingFeedback)
import processing</code></pre>
<p>Finalement le script est donc dans son entité</p>
<pre class="python"><code># -*- coding: utf-8 -*-
from PyQt5.QtCore import QCoreApplication
from qgis.core import (QgsProcessing,
                       QgsProcessingAlgorithm,
                       QgsProcessingParameterRasterLayer,
                       QgsProcessingParameterRasterDestination,
                       QgsProcessingException,
                       QgsProcessingFeedback)
                       
import processing


class NBR_index(QgsProcessingAlgorithm):
   
    &quot;&quot;&quot;Nom des INPUTS (=parameters) et des OUTPUTS utilisés par la suite &quot;&quot;&quot;

    INPUT1 = &#39;INPUT1&#39;
    INPUT2 = &#39;INPUT2&#39;
    OUTPUT = &#39;OUTPUT&#39;

    def tr(self, string):
        &quot;&quot;&quot;
        Returns a translatable string with the self.tr() function.
        &quot;&quot;&quot;
        return QCoreApplication.translate(&#39;Processing&#39;, string)

    def createInstance(self):
        return NBR_index()

    def name(self):
        &quot;&quot;&quot; Nom d identification de l algorithme. Doit être unique &quot;&quot;&quot;
        return &#39;nbr_index&#39;

    def displayName(self):
        &quot;&quot;&quot;Nom affiche lors de l appel&quot;&quot;&quot;
        return self.tr(&#39;NBR_index&#39;)

    def shortHelpString(self):
        &quot;&quot;&quot; Courte description du programme&quot;&quot;&quot;
        return self.tr(&quot;Calcul du Normalized Burnt Ratio&quot;)

    def initAlgorithm(self, config=None):
        &quot;&quot;&quot; Definition des inputs, de l output et de certaines de leurs proprietes&quot;&quot;&quot;

        # Ajout de la couche raster 1 en entree. Ce sera la couche B8
        self.addParameter(
            # Precisons que le type est raster
            QgsProcessingParameterRasterLayer(
                self.INPUT1, 
                self.tr(&#39;NIR B8 SENTINEL&#39;)
            )
        )
        # Ajout de la couche raster 1 en entree. Ce sera la couche B8
        self.addParameter(
            QgsProcessingParameterRasterLayer(
                self.INPUT2,
                self.tr(&#39;SWIR B12 SENTINEL&#39;)
            )
        )
        # Ajout de la couche raster en sortie
        self.addParameter(
            QgsProcessingParameterRasterDestination(
                self.OUTPUT,
                self.tr(&#39;NBR OUPUT&#39;)
            )
        )

    def processAlgorithm(self, parameters, context, feedback):
        &quot;&quot;&quot; Couche en entree PIR &quot;&quot;&quot;
        input1 = self.parameterAsRasterLayer(
            parameters,
            self.INPUT1,
            context
        )
        &quot;&quot;&quot; Message d erreur si mal charge&quot;&quot;&quot;
        if input1 is None:
            raise QgsProcessingException(self.invalidSourceError(parameters, self.INPUT1))
        &quot;&quot;&quot; Couche en entree SWIR &quot;&quot;&quot;
        input2=self.parameterAsRasterLayer(
            parameters,
            self.INPUT2,
            context
        )
        &quot;&quot;&quot; Message d erreur si mal charge&quot;&quot;&quot;
        if input2 is None:
            raise QgsProcessingException(self.invalidSourceError(parameters, self.INPUT2))
            
        &quot;&quot;&quot; Couche en sortie NBR &quot;&quot;&quot;
        output=self.parameterAsOutputLayer(
            parameters, 
            self.OUTPUT,
            context
        )
        if output is None:
            raise QgsProcessingException(self.invalidSinkError(parameters, self.OUTPUT))
        
        &quot;&quot;&quot; Coeur de calcul du programme, avec le module processing &quot;&quot;&quot;
        parameters={
        # couche en entree b8a
        &#39;INPUT_A&#39;:input1,
        # numero de la bande
        &#39;BAND_A&#39;:1,
        # couche en entree b12
        &#39;INPUT_B&#39;:input2,
        # numero de la bande
        &#39;BAND_B&#39;:1,
        # expression a evaluer
        &#39;FORMULA&#39;:&#39;(A-B)/(A+B)&#39;,
        &#39;NO_DATA&#39;:-9999,
        # type de float en sortie
    &#39;   RTYPE&#39;:5,
        # couche en sortie
        &#39;OUTPUT&#39;:output}
        # execution du programme
        processing.run(&#39;gdal:rastercalculator&#39;,parameters,context=context, feedback=feedback, is_child_algorithm=True)
        # Couche en sortie
        return {self.OUTPUT: output}</code></pre>
</div>
<div id="exercice-amélioration-de-loutil" class="section level1">
<h1>Exercice : Amélioration de l’outil</h1>
<div class="homework">
<p>Modifier l’algorihme précédent afin de pouvoir calculer le <span class="math inline">\(NBR\)</span> uniquement sur une zone précisée en entrée sous la forme d’une géométrie de polygones.</p>
</div>
<details>
<p><summary><strong>SOLUTION</strong></summary></p>
<pre class="python"><code># -*- coding: utf-8 -*-
from PyQt5.QtCore import QCoreApplication
from qgis.core import (QgsProcessing,
                       QgsProcessingAlgorithm,
                       QgsProcessingParameterRasterLayer,
                       QgsProcessingParameterRasterDestination,
                       QgsProcessingException,
                       QgsProcessingFeedback,
                       QgsProcessingParameterFeatureSource,
                       QgsProcessingUtils,
                       QgsRasterLayer)
                       
import processing


class NBR_index_zonal(QgsProcessingAlgorithm):
   
    &quot;&quot;&quot;Nom des INPUTS (=parameters) et des OUTPUTS utilisés par la suite &quot;&quot;&quot;

    INPUT1 = &#39;INPUT1&#39;
    INPUT2 = &#39;INPUT2&#39;
    INPUT3 = &#39;INPUT3&#39;
    OUTPUT = &#39;OUTPUT&#39;

    def tr(self, string):
        &quot;&quot;&quot;
        Returns a translatable string with the self.tr() function.
        &quot;&quot;&quot;
        return QCoreApplication.translate(&#39;Processing&#39;, string)

    def createInstance(self):
        return NBR_index_zonal()

    def name(self):
        &quot;&quot;&quot; Nom d identification de l algorithme. Doit être unique &quot;&quot;&quot;
        return &#39;nbr_index_zonal&#39;

    def displayName(self):
        &quot;&quot;&quot;Nom affiche lors de l appel&quot;&quot;&quot;
        return self.tr(&#39;NBR_index_zonal&#39;)

    def shortHelpString(self):
        &quot;&quot;&quot; Courte description du programme&quot;&quot;&quot;
        return self.tr(&quot;Calcul du Normalized Burnt Ratio sur zone d etude&quot;)

    def initAlgorithm(self, config=None):
        &quot;&quot;&quot; Definition des inputs, de l output et de certaines de leurs proprietes&quot;&quot;&quot;

        # Ajout de la couche raster 1 en entree. Ce sera la couche B8
        self.addParameter(
            # Precisons que le type est raster
            QgsProcessingParameterRasterLayer(
                self.INPUT1, 
                self.tr(&#39;NIR B8 SENTINEL&#39;)
            )
        )
        # Ajout de la couche raster 1 en entree. Ce sera la couche B8
        self.addParameter(
            QgsProcessingParameterRasterLayer(
                self.INPUT2,
                self.tr(&#39;SWIR B12 SENTINEL&#39;)
            )
        )
        # Ajout de la couche vecteur de la zone d etude
        # Seul les geometries polygones sont acceptees
        self.addParameter(
            QgsProcessingParameterFeatureSource(
                self.INPUT3,
                self.tr(&#39;ZONE ETUDE&#39;),
                [QgsProcessing.TypeVectorPolygon]
            )
        )
        # Ajout de la couche raster en sortie
        self.addParameter(
            QgsProcessingParameterRasterDestination(
                self.OUTPUT,
                self.tr(&#39;NBR OUPUT&#39;)
            )
        )

    def processAlgorithm(self, parameters, context, feedback):
        &quot;&quot;&quot; Couche en entree PIR &quot;&quot;&quot;
        input1 = self.parameterAsRasterLayer(
            parameters,
            self.INPUT1,
            context
        )
        &quot;&quot;&quot; Message d erreur si mal charge&quot;&quot;&quot;
        if input1 is None:
            raise QgsProcessingException(self.invalidSourceError(parameters, self.INPUT1))
        &quot;&quot;&quot; Couche en entree SWIR &quot;&quot;&quot;
        input2=self.parameterAsRasterLayer(
            parameters,
            self.INPUT2,
            context
        )
        &quot;&quot;&quot; Message d erreur si mal charge&quot;&quot;&quot;
        if input2 is None:
            raise QgsProcessingException(self.invalidSourceError(parameters, self.INPUT2))
        
        &quot;&quot;&quot; Couche en entree zone etude &quot;&quot;&quot;
        input3=self.parameterAsVectorLayer(
            parameters,
            self.INPUT3,
            context
        )
        &quot;&quot;&quot; Message d erreur si mal charge&quot;&quot;&quot;
        if input3 is None:
            raise QgsProcessingException(self.invalidSourceError(parameters, self.INPUT3))
        
        &quot;&quot;&quot; Couche en sortie NBR &quot;&quot;&quot;
        output=self.parameterAsOutputLayer(
            parameters, 
            self.OUTPUT,
            context
        )
        if output is None:
            raise QgsProcessingException(self.invalidSinkError(parameters, self.OUTPUT))
            
        &quot;&quot;&quot; Decoupage des deux couches vecteurs selon la zone d etude &quot;&quot;&quot;
        # Dossier temporaire 
        tf=QgsProcessingUtils.tempFolder()
        parameters={
        &#39;INPUT&#39;:input1,
        &#39;MASK&#39;:input3,
        &#39;OUTPUT&#39;:QgsProcessingUtils.generateTempFilename(tf)+&#39;.tif&#39;}
        input1_clip= QgsRasterLayer(processing.run(&quot;gdal:cliprasterbymasklayer&quot;,parameters,context=context, feedback=feedback, is_child_algorithm=True)[&#39;OUTPUT&#39;])    
        
        parameters={
        &#39;INPUT&#39;:input2,
        &#39;MASK&#39;:input3,
        &#39;OUTPUT&#39;:QgsProcessingUtils.generateTempFilename(tf)+&#39;.tif&#39;}
        input2_clip= QgsRasterLayer(processing.run(&quot;gdal:cliprasterbymasklayer&quot;,parameters,context=context, feedback=feedback, is_child_algorithm=True)[&#39;OUTPUT&#39;])    
        
        
        &quot;&quot;&quot; Coeur de calcul du programme, avec le module processing &quot;&quot;&quot;
        parameters={
        # couche en entree b8a
        &#39;INPUT_A&#39;:input1_clip,
        # numero de la bande
        &#39;BAND_A&#39;:1,
        # couche en entree b12
        &#39;INPUT_B&#39;:input2_clip,
        # numero de la bande
        &#39;BAND_B&#39;:1,
        # expression a evaluer
        &#39;FORMULA&#39;:&#39;(A-B)/(A+B)&#39;,
        &#39;NO_DATA&#39;:-9999,
        # type de float en sortie
    &#39;   RTYPE&#39;:5,
        # couche en sortie
        &#39;OUTPUT&#39;:output}
        # execution du programme
        processing.run(&#39;gdal:rastercalculator&#39;,parameters,context=context, feedback=feedback, is_child_algorithm=True)
        # Couche en sortie
        return {self.OUTPUT: output}</code></pre>
</details>
</div>
