---
title: 'Expressions'
author: "Victor PENOT"
output:
  bookdown::html_document2:
    toc: yes
    toc_float:
      collapsed: yes
      smooth_scroll: yes
    theme: cerulean #united
    highlight: tango
  bookdown::pdf_book:
    toc: yes
---



<div id="ecriture-des-expressions" class="section level1">
<h1>Ecriture des expressions</h1>
<p>Afin de sélectionner des entités dans des couches vectorielles on est amené à écrire des expressions.
Si ces filtres sont effectuées sur les attributs et sont relativement simple à écrire. Le programme natif <a href="https://docs.qgis.org/3.16/en/docs/user_manual/processing_algs/qgis/vectorselection.html#select-by-attribute"><code>qgis:selectbyattribute</code></a> peut suffire.</p>
<p>Pour des filtres plus raffinés il est nécessaire d’utiliser soit le programme natif <a href="https://docs.qgis.org/3.16/en/docs/user_manual/processing_algs/qgis/vectorselection.html#select-by-expression"><code>qgis:selectbyexpression</code></a> soit plus proprement la sélection par la méthode <a href="https://qgis.org/pyqgis/master/core/QgsVectorLayer.html#qgis.core.QgsVectorLayer.selectByExpression"><code>selectByExpression</code></a> des instance de <code>QgsVectorLayer</code>.</p>
<p>Écrire une expression exige le respect de certaines règles qui sont détaillées dans l’<a href="https://docs.qgis.org/3.16/en/docs/user_manual/working_with_vector/expression.html#writing-an-expression">aide</a> et résumées ici:</p>
<ul>
<li>un expression est du type <code>string</code> mais est toujours écrite entre apostrophe <code>'expression'</code></li>
<li>si un champs de couche est appelé, il est désigné par son nom (en respectant la casse) entouré de guillemets <code>"nom"</code></li>
<li>si on filtre par une valeur de type <code>string</code>, cette valeur est entourée d’apostrophes, chacune précédée d’un anti-slash <code>\'victor\'</code>, afin de ne pas rompre l’écriture de l’expression</li>
</ul>
<p>Par exemple pour effectuer une sélection sur le champs <code>nom</code> de type <code>string</code> sur la valeur <code>victor</code> l’expression s’écrira :</p>
<pre class="python"><code>expression=&#39;&quot;nom&quot;=\&#39;victor\&#39;&#39;</code></pre>
<p>De manière générale pour écrire une expression, il est conseillé de l’écrire dans la <a href="https://docs.qgis.org/3.16/en/docs/user_manual/working_with_vector/expression.html#the-interface">console de sélection</a> en mode “clic-boutton” via la table d’attribut et de recopier l’expression en respectant les règle ci-dessus.</p>
</div>
<div id="expressions-personalisées" class="section level1">
<h1>Expressions personalisées</h1>
Il est possible de créer ses propres expressions sous la forme de fonctions à charger dans fenêtre de sélection par expression. Chargeons la couche des communes de France dans le projet puis ouvrons la table d’attribut et la fenêtre de sélection par expression.
<div class="figure" style="text-align: center"><span id="fig:unnamed-chunk-2"></span>
<img src="images_qgis/2_1.png" alt="Accéder à la selection par expression" width="100%" />
<p class="caption">
Figure 1: Accéder à la selection par expression
</p>
</div>
Puis, sélectionner l’onglet <em>Éditeur de fonction</em>. Nous allons créer une fonction qui se placera dans l’onglet <strong>Custom</strong>.
<div class="figure" style="text-align: center"><span id="fig:unnamed-chunk-3"></span>
<img src="images_qgis/2_2.png" alt="Accéder à l'éditeur de fonction" width="80%" />
<p class="caption">
Figure 2: Accéder à l’éditeur de fonction
</p>
</div>
<p>Cliquer sur le bouton <em>+</em>, et donnons le nom <code>AREA_SUP</code> à la fonction. Copier-coller le code ci-dessous dans la fenêtre supérieure. Ce code nous permet de ne sélectionner que les entités dont la valeur du champs est supérieure à 1000.
Enregistrer la fonction en cliquant sur “Enregistrer et charger les fonctions”</p>
<div class="figure" style="text-align: center"><span id="fig:unnamed-chunk-4"></span>
<img src="images_qgis/2_3.png" alt="Création de la fonction" width="80%" />
<p class="caption">
Figure 3: Création de la fonction
</p>
</div>
<pre class="python"><code># Chargement des modules 
from qgis.core import *
from qgis.gui import *

# &#39;auto&#39; = nombre arguments 
# &#39;Custom&#39; = onglet où va se trouver la fonction dans la fenêtre de dialogue
@qgsfunction(args=&#39;auto&#39;, group=&#39;Custom&#39;)

# value1 = argument choisi par l&#39;utilisateur
# feature = couche actuelle 
# parent = expression engine node 
def area_sup(value1, feature, parent):
    # Description de la fonction 
    &quot;&quot;&quot;
    Teste si le champs choisi est supérieur à 1000
    &lt;h2&gt;Exemples d&#39;utilisation:&lt;/h2&gt;
    &lt;ul&gt;
      &lt;li&gt;AREA_SUP(10) -&gt; False&lt;/li&gt;
      &lt;li&gt;AREA_SUP(&quot;surf_ha&quot;) -&gt; True &lt;/li&gt;
    &lt;/ul&gt;
    &quot;&quot;&quot;
    # sortie de la fonction
    return value1 &gt; 1000</code></pre>
<p>Retourner dans la fenêtre de dialogue principale et sélectionner la fonction <code>area_sup</code> du groupe <strong>Custom</strong>. Sa description (écrite entre <code>"""</code> dans le code précédent) apparaît dans la fenêtre de droite.</p>
<div class="figure" style="text-align: center"><span id="fig:unnamed-chunk-6"></span>
<img src="images_qgis/2_4.png" alt="Essai de la fonction : où est-elle ?" width="80%" />
<p class="caption">
Figure 4: Essai de la fonction : où est-elle ?
</p>
</div>
<p>Sélectionner le champs <code>surf_ha</code> dans le groupe <strong>Champs et Valeurs</strong>. L’expression devient alors valide (<em>Aperçu du résultat : false</em>)
Tester la fonction en cliquant sur <em>Sélectionner des entités</em> !</p>
<div class="figure" style="text-align: center"><span id="fig:unnamed-chunk-7"></span>
<img src="images_qgis/2_5.png" alt="Essai de la fonction" width="80%" />
<p class="caption">
Figure 5: Essai de la fonction
</p>
</div>
<div class="homework">
<p>Écrire une fonction qui permet de ne sélectionner que les communes d’un département choisi par l’utilisateur, sous la forme de son code insee au format <code>str</code>.</p>
</div>
<details>
<p><summary><strong>SOLUTION</strong></summary></p>
<pre class="python"><code>from qgis.core import *
from qgis.gui import *

@qgsfunction(args=&#39;auto&#39;, group=&#39;Custom&#39;)
def com_dep(value1,value2, feature, parent):
    &quot;&quot;&quot;
    Teste si la commune appartient a un  departement 
    &lt;h2&gt;Example usage:&lt;/h2&gt;
    &lt;ul&gt;
      &lt;li&gt;com_dep(&quot;insee&quot;,&#39;11&#39;) -&gt; False&lt;/li&gt;
    &lt;/ul&gt;
    &quot;&quot;&quot;
    return value1.startswith(value2)</code></pre>
et un essai :
<div class="figure" style="text-align: center"><span id="fig:unnamed-chunk-9"></span>
<img src="images_qgis/2_6.png" alt="Selection des communes de l'Aude" width="80%" />
<p class="caption">
Figure 6: Selection des communes de l’Aude
</p>
</div>
</div>
