---
title: "Création d'un projet et découverte des systèmes de coordonnées de référence "
author: "Victor PÉNOT"
weight : 1
pre: "<b>TP 1. </b>" 
output:
  bookdown::html_document2:
    #css: ../../static/css/my-style.css
    toc: yes
    toc_float:
      collapsed: yes
      smooth_scroll: yes
    theme: cerulean
    highlight: tango
  bookdown::pdf_book:
    toc: yes
    includes: 
      #in_header: preambule.tex
---



<div id="creation-dun-projet" class="section level1">
<h1>Creation d’un projet</h1>
<p>Un projet Qgis est le conteneur de l’ensemble des autres objets que nous allons utiliser par la suite. S’il n’est pas nécessaire en programmation de définir à chaque nouveau script un projet, il est toujours utile de savoir manipuler ce type d’objet, ne serait-ce que pour charger automatiquement un projet de couches.</p>
<p>En dehors de toute considération SIG, définissons le répertoire de travail dans lequel nous allons enregistrer notre projet.</p>
<pre class="python"><code>import os
# defintion du repertoire de travail
work_path=&#39;/home/victor/Bureau//COURS/TP1/RES&#39;
# creation du repertoire de travail, s&#39;il n&#39;existe pas déjà
os.makedirs(work_path, exist_ok=True)
# affection du repertoire de travail de la session
os.chdir(work_path)</code></pre>
<div class="infobox">
<p>Le module <code>os</code> permet la gestion des adresses et des dossiers. Pour plus d’information sur les méthodes et les attributs consulter ce lien : <a href="https://python.doctor/page-gestion-fichiers-dossiers-python">module <code>os</code></a></p>
</div>
<p>Nous pouvons ensuite vérifier que la répertoire de travail est bien chargé via la métohde suivante, qui nous renvoie le <code>work_path</code></p>
<pre class="python"><code>os.getcwd()</code></pre>
<p>Créons maintenant notre premier projet qui est une instance la classe <a href="https://qgis.org/pyqgis/3.4/core/QgsProject.html?highlight=qgsproject#module-QgsProject"><code>QgsProject</code></a></p>
<pre class="python"><code>project1=QgsProject.instance()</code></pre>
<p>Pour l’instant le titre du projet n’a pas changé : il nous faut enregistrer le projet pour cela. La variable <code>save_project1</code> est un booléen qui vaut <code>True</code> si le projet a été enregistré et <code>False</code> sinon.</p>
<pre class="python"><code># Enregistrement du projet dans le repertoire de travail
# sous le nom projet1_TP1
save_project1=project1.write(&#39;projet1_TP1.qgs&#39;)</code></pre>
<div class="figure" style="text-align: center"><span id="fig:unnamed-chunk-5"></span>
<img src="images_qgis/1.png" alt="Nom du fichier du projet" width="80%" />
<p class="caption">
Figure 1: Nom du fichier du projet
</p>
</div>
<p>Qgis est avare de commentaires. Prenons donc la bonne habitude de programmer un test qui renvoie si le projet a bien été enregistré ou non :</p>
<pre class="python"><code># Verification de l enregistrement
if save_project1==True:
    print(&quot;Projet enregistre&quot;)
else :
    print(&quot;Projet non enregistre&quot;)</code></pre>
<p>De manière générale générale, on préfère communiquer avec l’utilisateur via l’affichage graphique du SIG (le <em>canvas</em>) que via la console. On va donc programmer <a href="https://docs.qgis.org/3.4/fr/docs/pyqgis_developer_cookbook/communicating.html#showing-messages-the-qgsmessagebar-class">un bandeau de message</a> qui s’affichera en haut de l’affichage des cartes, et dont la couleur, la signifcation, la durée et le contenu peuvent être modifiés :</p>
<pre class="python"><code>if save_project1==True:
    iface.messageBar().pushMessage(&quot;Information &quot;,
                                    &quot;Projet 1 sauvegarde&quot;,
                                    level=Qgis.Info,
                                    duration=3)
else :
    iface.messageBar().pushMessage(&quot;Error &quot;,
                                    &quot;Projet 1 non sauvegarde&quot;,
                                    level=Qgis.Warning,
                                    duration=3)</code></pre>
<div class="figure" style="text-align: center"><span id="fig:unnamed-chunk-8"></span>
<img src="images_qgis/2.png" alt="Bandeau d'information" width="100%" />
<p class="caption">
Figure 2: Bandeau d’information
</p>
</div>
</div>
<div id="systeme-de-coordonnées-de-référence-crs" class="section level1">
<h1>Systeme de coordonnées de référence (<code>CRS</code>)</h1>
<p>Afin de bien définir un projet, il est nécessaire de lui affecter un système de coordonnées de référence. Par défaut le système de coordonnées WGS84 est affecté à un projet lorsque qu’il est créé.</p>
<div class="figure" style="text-align: center"><span id="fig:unnamed-chunk-9"></span>
<img src="images_qgis/3.png" alt="Creation &quot;clic&quot; d'un projet" width="80%" />
<p class="caption">
Figure 3: Creation “clic” d’un projet
</p>
</div>
<pre class="python"><code># systeme de coordonnees du projet par défaut 
project1.crs()
# et sa desciption plus en detail 
project1.crs().description()</code></pre>
<p>On peut vouloir changer le crs d’un projet. Pour cela créons une instance de la classe <a href="https://qgis.org/pyqgis/master/core/QgsCoordinateReferenceSystem.html#module-QgsCoordinateReferenceSystem">QgsCoordonateReferenceSystem</a> et affectons lui le code <code>EPSG 32631</code>.</p>
<pre class="python"><code># Creation  d&#39;une instance de crs
crs= QgsCoordinateReferenceSystem(&#39;EPSG:32631&#39;)</code></pre>
<p>Puis vérifions que le crs est valide.</p>
<div class="homework">
<p>En utilisant la méthode <a href="https://qgis.org/pyqgis/master/core/QgsCoordinateReferenceSystem.html#qgis.core.QgsCoordinateReferenceSystem.isValid">isValid()</a> d’un objet de la classe QgsCoordonateReferenceSystem, programmer un test qui affiche dans un bandeau si le crs a bien été initialisé ou non. Si oui, afficher dans la console, une description du crs.</p>
</div>
<details>
<p><summary><strong>SOLUTION</strong></summary></p>
<pre class="python"><code># Verification de la validite du crs
if crs.isValid():
    iface.messageBar().pushMessage(&quot;Information &quot;,
                                    &quot;CRS Valide - description: {}&quot;.format(crs.description()),
                                    level=Qgis.Info,
                                    duration=3)
    print(&quot;CRS Description: {}&quot;.format(crs.description()))
else:
    iface.messageBar().pushMessage(&quot;Error &quot;,
                                    &quot;crs non valide&quot;,
                                    level=Qgis.Warning,
                                    duration=3)</code></pre>
</details>
<p>Nous pouvons désormais <a href="https://qgis.org/pyqgis/3.0/core/Project/QgsProject.html#qgis.core.QgsProject.setCrs">affecter le nouveau crs</a> au projet créé</p>
<pre class="python"><code># Affectation du crs au projet
project1.setCrs(crs)</code></pre>
<p>et vérifier que le crs a bien été affecté afin d’enregistrer les modifications :</p>
<pre class="python"><code># Verification du crs du projet 
if project1.crs()==crs :
    print(&quot;CRS {} affecté au projet&quot;.format(crs.description()))
    #enregistrement des mofications du projet
    project1.write()
else :
    print(&quot;CRS non affecté&quot;)</code></pre>
</div>
<div id="ouverture-et-modification-dun-projet" class="section level1">
<h1>Ouverture et modification d’un projet</h1>
<p>Si nous disposons d’un projet, nous pouvons désire l’ouvrir dans l’interface graphique de Qgis.
Pour cela il est nécessaire de créer un nouveau projet vide et d’utiliser la méthode
<code>read()</code> de la classe <code>QgsProject</code>. Par habitude, nous testons si le projet a bien été chargé.
A priori d’excuter le code suivant, créer un projet vide manuellement portant le nom <code>projet2_TP1.qgs</code> dans le dossier <code>RES</code>.</p>
<pre class="python"><code># creation d un projet vide
project2=QgsProject.instance()
# nom du fichier a charger
project_file=&quot;projet2_TP1.qgs&quot;
# chargement et test de l ouverture
if project2.read(project_file)==True:
    iface.messageBar().pushMessage(&quot;Information &quot;,
                                    &quot;Projet &quot;+project_file+&quot; charge&quot;,
                                    level=Qgis.Info,
                                    duration=5)
else :
    iface.messageBar().pushMessage(&quot;Error &quot;,
                                    &quot;Projet &quot;+project_file+&quot; non charge&quot;,
                                    level=Qgis.Warning,
                                    duration=5)</code></pre>
<p>Si nous désirons effacer le projet de son contenu, nous pouvons utiliser la méthode <a href="https://qgis.org/pyqgis/3.0/core/Project/QgsProject.html#qgis.core.QgsProject.clear"><code>clear()</code></a>. Pour tester cette dernière commençons par donner un titre au projet.
les resultats :</p>
<pre class="python"><code># Affectation d un titre au projet
project2.setTitle(&quot;projet_2&quot;)
project2.title()
# Le projet redevient un projet vide
project2.clear()
# Quel est le titre du projet vide ?
project2.title()</code></pre>
</div>
